{% extends 'base.html' %} {% block content %}
<section id="about" class="about">
  <div class="container">
    <div class="row content" style="margin-top: 80px">
      <div class="col-lg-6">
        <h2>Software Piracy Protection System</h2>
        <h3>
          Our cutting-edge software licensing solution provides a comprehensive
          suite of benefits aimed at optimizing your operations and enhancing
          customer satisfaction.
        </h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          We're dedicated to empowering African developers with the tools and
          resources needed to effectively manage software licenses. We
          understand the importance of proper license management in optimizing
          operations and ensuring compliance. Our goal is to provide accessible
          and user-friendly software license management solutions tailored to
          the needs of African markets.<br />
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
