{% extends 'base.html' %} {% block content %}
<div class="landing-page">
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>Software piracy protection system</h1>
        <p>
          software piracy protection system offers oftware licensing solution
          provides a comprehensive suite of benefits aimed at optimizing your
          operations and enhancing customer satisfaction
        </p>
        <button onclick="window.location.href='/about'" class="btn btn-info">
          More About Us
        </button>
      </div>
      <div class="image">
        <img src="../static/img/Background.png" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
